head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title Ribbon
    meta(name="description", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

    link(rel="stylesheet", href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css")
    link(rel="stylesheet", href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css")
    link(rel="stylesheet", href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js")
    link(rel="stylesheet", href="public/css/style.css")
