header#header
    nav.navbar.navbar-default.main(role="navigation")
        .container
            ul.nav.navbar-nav
                li: a(href="#") Website Templates
                li: a(href="#") Design Templates
                li: a(href="#") How it Works
                li: a(href="#") Blog
                li: a(href="#") Contact
            form.navbar-form.navbar-right.search(role="search")
                .form-group
                    .input-group
                        label(for="search")
                            i.fa.fa-search
                        input#search(type="search").form-control
    nav.navbar.navbar-default.social(role="navigation")
        .container
            ul.nav.navbar-nav
                li.icon: a(href="#"): i.fa.fa-facebook.fa-2x
                li.icon: a(href="#"): i.fa.fa-rss.fa-2x
                li.icon: a(href="#"): i.fa.fa-twitter.fa-2x
