extends page
block content
    section.jumbotron
        .container
            img#logo(src="public/images/logo.png")
            img#banner(src="public/images/banner.png")
            #ribbon
                <i class="fa fa-heart"></i> <b>Download Your free copy</b> here today
                a.btn.btn-primary(role="button") DOWNLOAD NOW

    section.row
        .featured.container
            article.col-xs-4
                div
                    p: b A cool little text box to go here about something.here
                    p Here’s some great products we know dads will love! Check them out and even buy them onlineHere’s some great products we know dads will love!
                    p Check them out and even buy them onlineHere’s some great products we know
            article.col-xs-4
                div
                    p: b A cool little text box to go here about something.here
                    p Here’s some great products we know dads will love! Check them out and even buy them onlineHere’s some great products we know dads will love! Check them out and even buy them onlineHere’s some great products we know dads will love! Check them out and even buy them online. Read More Here/
            article.col-xs-4
                div
                    p: b A cool litte text box to go here about somthing.here
                    p Here’s some great products we know dads will love! Check them out and even buy them online Here’s some great products we know dads will love!
                    p Check them out and even buy them onlineHere’s some great products we know dads will love! Check them out and even buy

    nav#pages.navbar.navbar-default(role="navigation")
        .container
            ul.nav.navbar-nav
                li: a(href="#") Page Name
                li: a(href="#") Page Name
                li: a(href="#") Page Name
                li: a(href="#") Page Name
                li: a(href="#") Page Name
                li: a(href="#") Page Name
                li: a(href="#") Page Name
    section
        .container
            .row
                article.col-xs-8
                    p In hac habitasse platea dictumst. Sed placerat, enim eu aliquam vehicula, est lacus condimentum lorem, nec imperdiet odio augue nec turpis. Pellentesque tempus eleifend libero, non consequat nisi cursus pharetra. Suspendisse suscipit, lacus eu eleifend pretium, nunc nibh consectetur arcu, sit amet gravida eros ante vitae mi. Proin sit amet eros eget lectus elementum hendrerit at a odio. Phasellus ac placerat odio. Sed porta accumsan consectetur. Etiam dignissim placerat mi, ac hendrerit nisl ultrices et. Fusce condimentum ultrices fermentum. Nulla consectetur blandit viverra.
                    blockquote “Curabitur ac gravida dolor. In interdum euismod velit, vitae porttitor nisl feugiat elementum. Etiam nulla nunc, convallis eget laoreet eget, porttitor in ipsum. Curabitur a erat sed mi placerat congue.”
                    p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer fermentum, sapien vitae blandit fringilla, nibh sem lacinia dolor, quis gravida augue lacus in lorem. Cras blandit erat at nibh fringilla blandit. Suspendisse malesuada aliquam nisl ac consequat. Sed enim dui, suscipit ut tempus a, tincidunt at sapien. In hac habitasse platea dictumst. Maecenas imperdiet dolor at ipsum iaculis malesuada.
                aside.col-xs-4
                    <img src="public/images/ad.png", alt="...">
                    button#download.btn.btn-default DOWNLOAD
